@charset "utf-8";

/*공통*/
:root{font-family:'Pretendard';}
a{text-decoration:none; color:inherit; display:inline-block;}
body{line-height:1.6;}
.clearfix::after{content:''; display:block; clear:both;}


/*헤더*/
header{position:fixed; z-index:100; width:100%; height:150px;
    .top_layout{height:50px; padding:0 100px;
     background:#fff; border-bottom:1px solid #eee;
    line-height:50px; font-weight:500;}
    #top_nav{float:left; font-size:15px; color:#666;}
    #top_nav li{position:relative; display:inline-block; margin-right:40px;
        letter-spacing:-0.9px;}
    #top_nav li::before{content:''; display:block; width:1px; height:12px; background:#ddd;
    position:absolute; top:18px; right:-20px;}
    #top_nav li:last-child::before{background:none;}
    #nuri-zip{float:right; display:flex; justify-content:center; align-items:center; position:relative;
        width:200px; height:100%; color:#de3059; font-size:18px; line-height:12px; letter-spacing:-1px;
        text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;}
    #nuri-zip::after{content:''; position:absolute; left:0; bottom:-1px; width:100%; height:4px;
        background:#e93660;}
    #nuri-zip p::before{
        content:''; display:inline-block; width:10px; height:10px;
        margin-top:-3px; margin-right:5px;
        background-repeat:no-repeat; background-position:50%;
    }
}//end:header


.gnb_layout{
    position:relative; height:100px; background:#fff;
    padding:0 100px; display:flex; border-bottom:1px solid #eee;
    justify-content:space-between;
    a:hover{color:#0033a5;}
}//end:.gnb_layout

#logo{margin:31px 0;}
#gnb_menu{font-size:20px; font-weight:700; width:50%;
    color:#222; letter-spacing:-1px; vertical-align:middle;
    line-height:100px; transition:all .3s; text-align:center;
    & > ul{display:flex;}
    & > ul > li{transition:all .3s ease-in-out; position:relative;
        width:calc(100% / 6);}
    & > ul > li::before{content:''; position:absolute; left:0; top:100px;
        width:100%; height:1px; background:#eee;}
    & > ul > li::after{
    content:''; display:none;
    position:absolute; left:0; top:97px; width:100%;
    height:4px; background:#0033a5;}
    .sub{
        background:#fff; width:100%; height:520px;
        display:none; padding-top:20px; line-height:2.5;
        li{float:none; margin:0 0 0 10px;}
        a{font-weight:normal; padding:0; font-size:18px;
        white-space:nowrap;}
    }//end:.sub
    &:hover{width:65%;
        .sub{display:block;}
    }
    & > ul > li:hover::after{display:block;}
}//end:#gnb_menu


.util{height:100px;
    display:flex; align-items:center;}
#search{display:flex;}
#search a{margin-left:25px;}
.hamburger{display:flex; flex-direction:column;
    justify-content:space-between; width:21px; height:20px;}
.hamburger span{background:#222; align-self:flex-end;
    height:2px; width:100%;}


/*메인*/
.main_visual{
    padding-top:151px; display:flex;
    position:relative;
    .title_visual{
        width:42%;
    }
    .slide_visual{
        width:58%; overflow:hidden;
        .swiper-wrapper{display:flex; position:relative;}
        .swiper-slide{flex-shrink:0;}
        img{width:100%; height:750px;}
        .img1{width:1120px;}
    }
    .btn{float:left; font-family:'EBSHunminjeongeumSBA'; font-size:18px;
        color:#fff; font-weight:500; cursor:pointer;
        p{display:flex; justify-content:center; margin-top:40px;}
    }
    .swiper-button-prev{width:100px; height:100px; background:#af9375;
        border-radius:0 0 0 10px;
        position:absolute; bottom:0; left:36.8%;}
    .swiper-button-next{width:100px; height:100px; background:#79563c;
        border-radius:0 10px 0 0;
        position:absolute; bottom:0; left:42%;}
    .swiper-button-prev:hover{border:1px dashed #000; z-index:10;}
    .swiper-button-next:hover{border:1px dashed #000; z-index:10;}
}//end:main_visual

.text{
    position:absolute; bottom:20px; right:30px; color:#fff;
    font-weight:bold; transform:translateY(50px); opacity:0;
    transition:all .5s ease-in-out;
    h3{font-size:15px;}
    h3::before{
        content:''; display:block; width:22px; height:29px;
        background:url('../img/loc.png') no-repeat;
        background-size:contain;
        position:absolute; top:0; left:-20px;
      }
    strong{font-size:20px; margin:0 10px;}
}//e:.text
.swiper-slide-active .text{opacity:1;
    transform:translateY(0); transition-delay:.5s;}


.text_box{font-family:'ChusaLove';
    position:absolute; top:250px; left:220px;
    #main_text{display:flex; align-items:flex-end;
        p{writing-mode:vertical-lr;}
        p:last-child{margin-left:50px;}
        strong{font-size:90px; letter-spacing:-20px;}
        span{font-size:22px; letter-spacing:5px;}
        em{font-family:'EBSHunminjeongeumSBA'; font-size:24px;
        border-left:3px double #dcd9d6;
        border-right:3px double #dcd9d6;
        color:#635340; font-weight:bold;
        padding: 0 5px; padding-bottom:20px;}
    }//e:#main_text
}//end:.text_box


#city_menu{
    padding:150px 0 20px 0;
    position:relative;
    .main_bg{
        width:100%; height:667px;
        background:url('../img/c_bg.png') no-repeat;
        background-size:contain; z-index:-10;
        position:absolute; top:0;
    }
    .city_gnb{display:flex; justify-content:center;
        li{display:inline-block; text-align:center; margin-right:100px;}
        li:last-child{margin-right:0;}
        img{border:3px solid #f6f4f0; padding:10px;
            border-radius:10px; transition:all .3s;}
        img:hover{border:3px solid #79563c; padding:10px;
            border-radius:20px;}
        p{font-size:15px; color:#494949; margin-top:20px;}
    }//end:.city_gnb
}//end:#city_menu

#notice{
    padding:20px 0 50px;
    position:relative;
    .n_inner{
        display:flex; justify-content:center;
        #notice_wrap{
        width:663px; height:427px;
        #notice_title{
        cursor:pointer;
        font-family:'EBSHunminjeongeumSBA';
        font-weight:600;
        display:flex; align-items:center;
        margin:50px 0 30px 50px;
        a{color:#79563c; margin-right:20px;}
        a::after{content:''; display:block; width:100%; height:5px;
        background:#79563c;}
        span{color:#333; font-size:29px;}
        em{color:#000; font-size:20px; margin-left:240px;}
        }//end:#notice_title
        .notice_sub{
            display:flex;
            .n_date{width:85px; height:85px; margin-left:50px;
            border:5px solid #e4e4e4; border-radius:10px 0 10px 0;
            text-align:center; color:#333;
            span{font-size:30px; font-weight:600;}
            em{font-size:15px;}
            }//end:.n_date
            .n_text{margin-left:22px; line-height:1.8;
            strong{font-size:20px; color:#79563c; font-weight:600;
            position:relative; overflow:hidden; display:inline-block;}
            strong::before{content:''; display:block; width:100%; height:50%;
            background-color:rgba(121, 86, 60, 0.2); position:absolute; top:50%; left:-100%;
            transition:all .2s ease-in-out;}
            strong:hover::before{left:0;}
            em{color:#555;}
            }//end:.n_text
        }//end:.notice_sub
        .notice_board{
            margin:30px 0 0 50px;
            li{line-height:2.1; position:relative;}
            span{font-size:17px; color:#333; display:block;}
            em{font-size:15px; color:#767676; display:block;
            position:absolute; top:0; right:50px;}
            li a>span::before{content:''; width:4px; height:4px;
            background:#c9c9c9; border-radius:50%;
            position:absolute; top:15px; left:-12px;}
        }//end:.notice_board
    }//end:#notice_wrap

        #info_wrap{
        position:relative;
        width:824px; height:427px;
        .fst_box{width:823px; height:323px; margin-top:50px;
            border:1px solid #af9375;
            background:url("../img/info_bg_1.jpg") no-repeat;
            h3{font-size:26px; font-family:'EBSHunminjeongeumSBA';
            font-weight:600; color:#333;
            margin:30px 0 10px 68px;}
            #info_1{float:left;}
            #info_2{float:left;}
            #info_1, #info_2{
                line-height:1.8;
                margin:5px 0 0 70px;
                font-size:15px; color:#333;
                li{display:inline-block; margin-bottom:27px;
                margin-right:100px;}
                span{font-size:17px; font-weight:bold;
                color:#79563c;}
            }//end:#info_1,2
        }//end:.fst_box
        }//end:#info_wrap
        #info_bg2{
            clear:both;
            position:absolute; bottom:10px; right:25px;
            img{width:120px; height:160px;}
        }
    }//end:.n_inner
}//end:#notice

#notice::before{
    content:''; display:block; background:#fff;
    width:85%; height:671px;
    position:absolute; top:-40%; left:8%; z-index:-9;
}


.iksan_trip{
    position:relative; padding-top:130px;
    width:100%; height:650px;
    .bg_box1{position:absolute; top:-30px; left:0;}
    .bg_box3{position:absolute; top:-10px; right:0;
    background:url('../img/sec2_bg.png') no-repeat;
    width:230px; height:816px;
    background-size:cover;}
    .trip_title{text-align:center;
    h2{font-family:'EBSHunminjeongeumSBA'; font-size:52px;
    color:#3e3c35; line-height:1; margin-bottom:15px;
    font-weight:bold;}
    .solmoe{font-family:'kdg_Medium';}
    em{font-size:67px; font-weight:normal; color:#79563c; position:relative;}
    span{font-size:18px; color:#333;}
    }//end:.trip_tilte

    .trip_info{padding-top:50px; position:relative;
        ul{display:flex; justify-content:center;}
        li{margin-right:70px; position:relative;}
        li:last-child{margin-right:0;}
        li img{border-radius:50px 0 50px 0;}
        .on_box{
            position:absolute;
            display:flex; flex-wrap:wrap;
            width:250px; height:70px;
            background:#79563c; color:#fff;
            border-radius:50px 0 50px 0;
            padding:35px 30px; overflow:hidden;
            opacity:0; visibility:hidden; transition:all .4s ease-in-out;
            strong{font-family:'EBSHunminjeongeumSBA'; font-size:25px;
                font-weight:bold;}
            span{font-size:15px;}
        }//end:.on_box
        .on_box1{bottom:-50px; left:0;}
        .on_box2{border-radius:0 50px 0 50px;
            bottom:-50px; left:0;}
        .on_box3{bottom:-50px; left:0;}
        & > ul > li:hover .on_box{opacity:1; visibility:visible;}
    }//end:.trip_info
}//end:.iksan_trip


.festival{
    padding:130px 0; position:relative;
    .bg_box2{width:95%; height:723px; background:#f5f1ed;
    margin:0 auto;
        .festival_title{
            text-align:center; padding-top:75px;
            h2{font-family:'EBSHunminjeongeumSBA'; font-size:52px;
            color:#3e3c35; line-height:1; margin-bottom:15px;
            font-weight:bold;}
            .solmoe{font-family:'kdg_Medium';}
            em{font-size:67px; font-weight:normal; color:#79563c;}
            span{font-size:18px; color:#333;}
            }//end:.festival_tilte
        .iksan_festival{
            display:flex; justify-content:center;
            padding-top:60px;
            .fst{width:280px; height:310px; background:#fff;
                padding:35px; margin-right:50px;
                border-radius:10px;
                transition:all .2s ease-in-out;}
            .fst:hover{transform:translateY(-10px);
            box-shadow:0 20px 30px #aaa;}
            .fst:last-child{margin-right:0;}
            h3{margin:25px 0 15px; font-size:22px; line-height:1;
            color:#333; font-weight:bold; cursor:pointer;}
            span{font-size:16px; color:#666;}
            }//end:.iksan_festival
    }//end:.bg_box2
    #bg2{position:absolute; bottom:20px; left:0;}
    #bg3{position:absolute; bottom:20px; right:0;}
    .cloud_bg{
        background:url('../img/sec3_bg1.png') no-repeat;
        width:95%; height:199px;
        background-size:contain;
        position:absolute; top:130px; left:2.5%;
    }
}//end:.festival


/*하단*/
footer{
    .f_inner{height:242px; background:#2f3541;
    #ft_info{
    padding:50px 0 25px 190px;
    color:#C1C2C6; font-size:16px;
    li{display:inline-block; margin-right:50px;}
    li:first-child{color:#00bbbb; font-weight:bold;}
    }//#ft_info
    .ft_box{width:80%; margin:0 auto; padding-top:30px;
    display:flex; justify-content:space-between;
    border-top:1px solid #3e434e; color:#C1C2C6;}
    }//.f_inner
}